@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #4571be, #3498db, #74b9ff);
}
